
header {
    position: relative;
    display: block;
    max-width: 100%;
    height:100%;
    margin:0 auto;
    padding:20px;
    background: #ffffff ;
    height:50px;
    border-bottom:2px;
    border-style:solid;
    border-color:#cccccc;
}

    header h1 {
        position: relative;
        line-height: 50px;
        font-size: 2rem;
        margin:0 auto;
       
        padding:20px;
        bottom: 20px;
        
        

    }


nav {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    float:right;
}

nav li  {
    position: relative; 
    display:inline-block;
    list-style-type: none;
    font-family: Arial;
    color: #222;
    font-size: 0.8rem;
    padding: 0 1rem;
 
    }
    
 h1 {
     color:#ffffff;
     background:#4aaaa5;
     float: left;
    
 }


section {
position: relative;
width:910px;
top: 50px;
margin:0 auto;
border:0 auto;
padding:25px;
text-align:left;
background:#ffffff;
color: black;
border-color:#dddddd;




}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
    margin: 0;
     padding: 0;
     text-align: center;
    
}

#face {
    float: left;
    position: relative;
    overflow: auto;

    margin:5px;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.words1 {
font-family:"Arial";
line-height: 1.7em;
word-spacing: 1px;
}

.words2 {
font-family:"Arial";
line-height: 1.7em;
word-spacing:1px;
}

.words3 {
    font-family:"Arial";
    line-height: 1.7em;
    word-spacing: 1px;
}

h2{
    color:#4aaaa5;
    position: relative;
    left: 20px;
    border-bottom: #dddddd 3px solid;
}